.title-box {
  width: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid yellow; */
}

.title-box > .line {
  height: 0.3rem;
  background-color: #50a8ea;
  flex: 1;
  border-radius: 1rem;
}

.title-box > .text-box {
  padding: 0 12rem;
  text-align: center;
}

.title-heading,
.title-description {
  padding: 0;
  margin: 0;
}

.title-heading {
  font-size: 3rem;
  font-weight: 700;
}

.title-description {
  text-align: right;
  font-weight: 300;
}
