.title-box {
  width: 100%;
  display: flex;
  align-items: center;
}

.title-box > .line {
  height: 0.3rem;
  background-color: #50a8ea;
  flex: 1;
  border-radius: 1rem;
}

.text-box {
  padding: 0 12rem;
  text-align: center;
}

.title-heading,
.title-description {
  padding: 0;
  margin: 0;
}

.title-heading {
  font-size: 3rem;
  font-weight: 700;
}

.title-description {
  text-align: right;
  font-weight: 300;
}

@media screen and (max-width: 1400px) {
  .text-box {
    padding: 0 6rem;
  }
}

@media screen and (max-width: 768px) {
  .title-box,
  .title-heading,
  .title-description {
    text-align: center;
  }

  .line {
    display: none;
  }

  .title-box {
    justify-content: center;
  }

  .title-heading {
    /* font-size: 2rem; */
    font-weight: 700;
  }

  .title-description {
    font-size: 1rem;
  }
}
