.card-container {
  width: 100%;
  display: flex;
  gap: 5%;
  height: 30rem;
  margin: 7rem 0;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.mobile {
  display: none;
}

.generate-btn {
  background: linear-gradient(157.79deg, #50a8ea 38.28%, #ffffff 228.74%);
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.5rem 6rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 300ms ease;
}

.generate-btn:hover {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(200, 200, 200, 1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(200, 200, 200, 1);
  box-shadow: 1px 1px 5px 0px rgba(200, 200, 200, 1);
}

.generate-description {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 300;
}

@media screen and (max-width: 1400px) {
  .card-container {
    height: 25rem;
    gap: 3%;
  }
}

@media screen and (max-width: 1200px) {
  .card-container {
    height: 120rem;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .mobile {
    display: flex;
    margin: 5rem 0;
  }

  .desktop {
    display: none;
  }
}
