header {
  width: 100%;
  position: relative;
  z-index: 10;
  transition: all 300ms ease;
}

header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 10rem;
  height: auto;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 0;
}

.nav-item a,
.nav-btn {
  font-size: 1.6rem;
  font-weight: normal;
  transition: all 300ms ease;
}

.nav-btn {
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  background: linear-gradient(157.79deg, #50a8ea 38.28%, #ffffff 228.74%);
  border-radius: 1.5rem;
  cursor: pointer;
  font-weight: 500;
}

.nav-item:hover a {
  color: #50a8ea;
}

.nav-btn:hover {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(200, 200, 200, 1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(200, 200, 200, 1);
  box-shadow: 1px 1px 5px 0px rgba(200, 200, 200, 1);
}

.hamburger-icon {
  width: 4rem;
  height: 4rem;
  display: none;
}

@media screen and (max-width: 1200px) {
  .logo {
    width: 5rem;
  }

  .nav-list {
    display: none;
  }

  .close {
    display: none;
  }

  .open {
    display: block;
  }

  header.active {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #1d202bf6;
  }

  header.active .nav-list {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 10rem;
  }

  header.active .open {
    display: none;
  }

  header.active .close {
    display: block;
  }

  .nav-item a,
  .nav-btn {
    font-size: 2rem;
    font-weight: 600;
    transition: all 300ms ease;
  }

  .nav-btn {
    padding: 1rem 4rem;
  }
}
